<nav class="navbar">
  <a class="navbar-brand" href="#">Ankit Anand</a>
  <div class="collapse  navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admin</a>
        </li>
    </ul> 
  </div>
</nav>